$primary: hsl(189.11, 100%, 15.49%);
$secondary: hsl(20.56, 85.04%, 49.8%);

// Dark mode
$primary-dark: #00363f; // hsl(210, 29.03%, 20.31%);
$body-bg-dark: hsl(188.57deg 100% 7.49%); //hsl(211.76, 29.82%, 11.18%); // = #141c25;
