.color-palette {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  width: 100%;
  height: calc(100vh - var(--ct-header-height) - 5rem);
}

.single-palette-color {
  --ct-palette-color-bottom-padding: 3rem;

  display: flex;
  flex-direction: column;
  text-align: center;

  background-color: var(--ct-color-bg-color, white);
  color: var(--ct-color-text-color, black);
  height: 100%;
  padding-block-end: var(--ct-palette-color-bottom-padding);

  &:not(.showing-shades) {
    justify-content: end;
  }

  &.showing-shades {
    --ct-palette-color-bottom-padding: 0;
  }

  .btn {
    --bs-btn-color: var(--ct-color-text-color, black);
    --bs-btn-hover-bg: hsla(0 0% 0% / 0.1);
  }

  .color-hex {
    font-size: 2rem;
    font-weight: 600;
  }

  .color-name {
    color: var(--ct-color-muted-text-color, #555);
    font-size: 1rem;
  }

  .tools {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;

    width: fit-content;
    margin-inline: auto;
  }
}

.color-palette-header {
  display: flex;
  justify-content: end;
  align-items: center;
}

.shades {
  --ct-shade-bg: white;

  display: flex;
  flex-direction: column;
  gap: 0;

  min-height: 0;
  flex: 1;
}

.shade {
  --ct-shade-color: black;

  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--ct-shade-bg);
  color: var(--ct-shade-color);

  .shade-label {
    display: none;
  }

  .shade-base-label {
    display: none;
  }

  .shade-base-label.show {
    display: block;
  }
}

.shade:hover {
  .shade-label {
    display: block;
  }

  .shade-base-label.show {
    display: none;
  }
}
