.color-palette {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  width: 100%;
  height: calc(100vh - var(--ct-header-height) - 5rem);
}

.single-palette-color {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: end;

  background-color: var(--ct-color-bg-color, white);
  color: var(--ct-color-text-color, black);
  height: 100%;
  padding-block-end: 3rem;

  .btn {
    --bs-btn-color: var(--ct-color-text-color, black);
    --bs-btn-hover-bg: hsla(0 0% 0% / 0.1);
  }

  .color-hex {
    font-size: 2rem;
    font-weight: 600;
  }

  .color-name {
    color: var(--ct-color-muted-text-color, #555);
    font-size: 1rem;
  }

  .tools {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;

    width: fit-content;
    margin-inline: auto;
  }
}

.color-palette-header {
  display: flex;
  justify-content: end;
  align-items: center;
}
