.converter {
  --ct-text-color: unset; //var(--bs-body-color);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  color: var(--ct-text-color);

  margin-inline: auto;
  width: fit-content;
}
