@let hex = colorHex();

<div class="single-palette-color"
     [class.showing-shades]="showShades()"
     [style.--ct-color-bg-color]="hex"
     [style.--ct-color-text-color]="textColor().hex()"
     [style.--ct-color-muted-text-color]="mutedTextColor().hex()">
  @if (showShades()) {
    <div app-single-color-shades [color]="color()"
         (colorSelected)="updateColor($event)">
    </div>
  } @else {
    <div class="tools">
      <button type="button"
              class="btn"
              (click)="copyToClipboard()">
        <i class="bi bi-shuffle"></i>
        <span class="visually-hidden">Copy to clipboard</span>
      </button>

      <button type="button"
              class="btn"
              (click)="showTintsAndShades()">
        <i class="bi bi-bookshelf"></i>
        <span class="visually-hidden">Tints & Shades</span>
      </button>

      <button type="button"
              class="btn"
              (click)="copyToClipboard()">
        <i class="bi bi-copy"></i>
        <span class="visually-hidden">Copy to clipboard</span>
      </button>

      <button app-toggle-button
              onClass="bi bi-pin-fill"
              offClass="bi bi-pin-angle"
              [initialState]="isPinned()"
              [openDelay]="300"
              (currentState)="onToggleClick($event)">
        Toggle pin color
      </button>
    </div>

    <div class="color-hex mt-4">
      {{ hex.replace("#", "") }}
    </div>
    <div class="color-name">{{ colorName() }}</div>
  }
</div>
