<h2>HSL</h2>

<div class="input">
  <form class="input-form">
    <div class="input-a"
         app-ranged-input
         [value]="hue()"
         (valueChange)="hueChanged($event)"
         [precision]="2"
         [min]="0"
         [max]="360"
         unit="°"
         label="Hue">
    </div>

    <div class="input-b"
         app-ranged-input
         [value]="saturation()"
         (valueChange)="saturationChanged($event)"
         [precision]="2"
         [min]="0"
         [max]="100"
         unit="%"
         label="Saturation">
    </div>

    <div class="input-c"
         app-ranged-input
         [value]="luminance()"
         (valueChange)="luminanceChanged($event)"
         [precision]="2"
         [min]="0"
         [max]="100"
         unit="%"
         label="Luminance">
    </div>
  </form>

  <div app-copy-css colorMode="hsl"></div>
</div>
