<div class="hstack gap-2">
  <div class="input">
    <label for="hexColorField" class="form-label">Hex Color</label>
    <div class="input-group">
      <span class="input-group-text">#</span>
      <input type="text"
             id="hexColorField"
             class="form-control"
             placeholder="FFFFFF"
             [(ngModel)]="hexColor"
             (blur)="colorChanged()">
    </div>
  </div>

  <div class="">
    {{ (currentColor$ | async)?.hex() }}
  </div>

  <div class="">
    <button type="button"
            class="btn btn-primary">
      Copy CSS
    </button>
  </div>
</div>
