<h2>RGB</h2>

<div class="input">
  <form class="input-form">
    <div class="input-a"
         app-ranged-input
         [value]="red()"
         (valueChange)="redChanged($event)"
         [precision]="0"
         [min]="0"
         [max]="255"
         label="Red">
    </div>

    <div class="input-b"
         app-ranged-input
         [value]="green()"
         (valueChange)="greenChanged($event)"
         [precision]="0"
         [min]="0"
         [max]="255"
         label="Green">
    </div>

    <div class="input-c"
         app-ranged-input
         [value]="blue()"
         (valueChange)="blueChanged($event)"
         [precision]="0"
         [min]="0"
         [max]="255"
         label="Blue">
    </div>
  </form>

  <div app-copy-css colorMode="rgb"></div>
</div>
