  <h2>Shades</h2>

  <table class="color-swatches">
    <thead>
    <tr>
      @for (step of swatchSteps(); track $index) {
        <th class="text-center">
          <div class="badge text-bg-primary mb-2">
            {{ step * 100 | number: "1.0-0" }}%
          </div>
        </th>
      }
    </tr>
    </thead>
    <tbody>
    <tr>
      @for (color of lighterColors(); track $index) {
        <td>
          <app-color-swatch [color]="color"/>
        </td>
      }
    </tr>
    <tr>
      @for (color of darkerColors(); track $index) {
        <td>
          <app-color-swatch [color]="color"/>
        </td>
      }
    </tr>
    </tbody>
  </table>

