<div ngbDropdown class="d-inline-block">
  <button type="button"
          class="btn"
          id="colorModeSwitcher"
          ngbDropdownToggle>
    <i class="bi bi-sun-fill"></i>
    <span class="visually-hidden">Color mode select</span>
  </button>
  <div ngbDropdownMenu aria-labelledby="colorModeSwitcher">
    <button ngbDropdownItem
            [class.active]="currentMode() === 'light'"
            (click)="currentMode.set('light')">
      <i class="bi bi-sun-fill me-2"></i>
      Light
    </button>
    <button ngbDropdownItem
            [class.active]="currentMode() === 'dark'"
            (click)="currentMode.set('dark')">
      <i class="bi bi-moon-stars-fill me-2"></i>
      Dark
    </button>
    <button ngbDropdownItem
            [class.active]="currentMode() === 'system'"
            (click)="currentMode.set('system')">
      <i class="bi bi-sun-fill me-2"></i>
      System
    </button>
  </div>
</div>
