<label [for]="fieldId()" class="form-label">
  {{ label() }}
</label>
<div class="input-group">
  <input type="number"
         [id]="fieldId()"
         class="form-control"
         [placeholder]="placeholder()"
         [min]="min()"
         [max]="max()"
         [step]="step()"
         name="value"
         [ngModel]="valueRead()"
         (blur)="valueChanged(valueField.value)"
         [attr.aria-describedby]="helpId()"
         #valueField="ngModel">
  @if (unit()) {
    <span class="input-group-text">{{unit()}}</span>
  }
</div>
<div [id]="helpId()" class="form-text">
  {{ placeholder() }}
</div>
<div class="invalid-feedback">
  Please enter a number in the range {{ placeholder() }}.
</div>
<input type="range"
       class="form-range"
       [min]="min()"
       [max]="max()"
       [step]="step()"
       name="valueRange"
       [ngModel]="valueRead()"
       (ngModelChange)="valueChanged($event)">
