<div class="color-swatch-container"
     style="--ct-swatch-border-color: {{color().hex()}}">
  <div class="color-swatch"
       style="--ct-bg-color: {{color().hex()}}">
    <div class="color-swatch-overlay">
      <button type="button"
              class="btn btn-light"
              (click)="copyToClipboard()">
        <i class="bi bi-copy"></i>
        <span class="visually-hidden">Copy to clipboard</span>
      </button>
    </div>
  </div>

  <div class="color-swatch-content">
    @switch (colorMode()) {
      @case ('rgb') {
        <ng-container [ngTemplateOutlet]="rgbTemplate"/>
      }
      @case ('hsl') {
        <ng-container [ngTemplateOutlet]="hslTemplate"/>
      }
      @default {
        <ng-container [ngTemplateOutlet]="hexTemplate"/>
      }
    }
  </div>
</div>


<ng-template #hexTemplate>
  <p>{{ color().hex() }}</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</ng-template>

<ng-template #hslTemplate>
  <app-key-value-display key="hue"
                         [value]="color().hsl()[0]"
                         [precision]="2"/>
  <app-key-value-display key="sat"
                         [value]="color().hsl()[1]"
                         [precision]="2"/>
  <app-key-value-display key="lum"
                         [value]="color().hsl()[2]"
                         [precision]="2"/>
</ng-template>

<ng-template #rgbTemplate>
  <app-key-value-display key="red"
                         [value]="color().rgb()[0]"
                         [precision]="0"/>
  <app-key-value-display key="green"
                         [value]="color().rgb()[1]"
                         [precision]="0"/>
  <app-key-value-display key="blue"
                         [value]="color().rgb()[2]"
                         [precision]="0"/>
</ng-template>
